bert_score==0.3.13
html2text==2025.4.15
matplotlib==3.10.8
nltk==3.9.4
numpy==1.26.4
pandas==3.0.2
prettytable==3.17.0
pytorch-crf==0.7.2
python_crfsuite==0.9.12
regex==2026.3.32
rouge==1.0.1
scikit_learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
sentencepiece==0.2.1
seqeval==1.2.2
sklearn_crfsuite==0.5.0
streamlit==1.56.0
torch==2.11.0
tqdm==4.67.3
transformers==4.57.6
bert-extractive-summarizer==0.10.1
